{% extends 'base.html' %}

{% block content%}

  <div class="container text-center">
    <div class="row">
      {% for key in data %}
      <div class="col">
        <div class="card" style="width: 18rem; margin-bottom: 1rem">
          <img src="{{key.strMealThumb}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{key.strMeal}}</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Product Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{%endblock content%}